button {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 0.25em;
    background: rgb(145, 141, 141);
    color: snow;
}

button:hover {
    background: rgb(105, 102, 102);
}

.alert {
    background: var(--red-color);
}

.success {
    background: rgb(86, 209, 69);
}

.dowload {
    background: var(--red-color);
}

/* HOVER */
.alert:hover {
    background: darkred;
}

.success:hover {
    background: rgb(60, 146, 49);
}

.dowload:hover {
    background: darkred;
}

.menuMobile {
    display: inline-flex;
    border: 1px solid silver;
    border-radius: 4px;
    background: transparent;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .menuMobile {
        display: none;
    }

}