---
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Section>
        <Container>
            <Title
                className="textCenter"
                level="h2"s
                label={"Catálogo"}
                pd="1em"
            />
        </Container>
    </Section>
</Layout>
