---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import Hero from "../components/hero/Hero.astro";
import Carrusel from "../components/carrusel/Carrusel";
import Brands from "../components/brands/Brands.astro";
import DownloadApp from "../components/dowloadapp/DownloadApp.astro";
import Main from "../layouts/Main.astro";
---

<Layout title="Joyería Alma de fuego">
	<Main>
		<Container variant="fluid">
			<Carrusel client:load />
		</Container>
		<Container bgColor="#D94038" variant="fluid">
			<Container>
				<Hero />
			</Container>
		</Container>
		<Container>
			<DownloadApp />
		</Container>
	
			<Container>
				<Brands />
			</Container>
	
		<Container variant="fluid">
			<iframe
				id="contacto"
				src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d224129.52205484972!2d2.086168990284183!3d41.38749680233041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1743163311678!5m2!1ses!2ses"
				width="100%"
				height="512px"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</Container>
	</Main>
</Layout>
