---
const {bg} = Astro.props
---
<section class="container" style={{
    background: bg ? bg : 'transparent',
}}>
    <article class="item">
        <slot />
    </article>
</section>
<style>
    .container {
        width: 100%;
        margin: 0 auto;
    }

    @media (min-width: 1024px) {
        .container {
            max-width: 1200px;
        }
    }
</style>
