---
import Link from "./Link.astro";
import user from "../assets/user.svg";
import Icon from "./Icon/Icon.astro";
import Button from "./Button/Button.astro";
import menuSvg from "../assets/menu.svg";
const { props } = Astro.props;

const linksNavigation = [
    { href: "#pres", text: "Presentación" },
    { href: "#app", text: "APP" },
    { href: "#marcas", text: "Marcas" },
    { href: "#contacto", text: "Contacto" },
    { href: "#catalogo", text: "Catálogo" },
];
---

<nav>
    <div class="desktop">
        {
            linksNavigation.map((link: any) => (
                <Link to={link.href} label={link.text} className={`link`} />
            ))
        }
    </div>
    <Button btn="menuMobile">
        <Icon slot="icon" className="menuBars">
            <img src={menuSvg.src} alt="" />
        </Icon>
    </Button>
</nav>

<style>
    nav {
        display: flex;
    }

    @media screen and (max-width: 768px) {
        .desktop {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .desktop {
            display: flex;
        }
    }
</style>
