---
import Link from "./Link.astro";
import Icon from "./Icon/Icon.astro";
import Button from "./Button/Button.astro";
import menuSvg from "../assets/images/menu.svg";
const { props } = Astro.props;

const linksNavigation = [
    { href: "/#hero", text: "Presentación" },
    { href: "/#dowloadApp", text: "APP" },
    { href: "/#marcas", text: "Marcas" },
    { href: "/#contacto", text: "Contacto" },
    { href: "/catalog", text: "Catálogo" },
    { href: "/alma-de-fuego", text: "Alma de fuego" },
].toSorted((a, b) => {
    if (a.text < b.text) return -1;
    if (a.text > b.text) return 1;
    return 0;
});
---

<nav>
    <article class="desktop">
        {
            linksNavigation.map((link: any) => (
                <Link to={link.href} label={link.text} className={`link`} />
            ))
        }
    </article>
    <Button btn="menuMobile">
        <Icon slot="icon" className="menuBars">
            <img src={menuSvg.src} alt="" />
        </Icon>
    </Button>
</nav>

<style>
    nav {
        display: flex;
    }

    @media screen and (max-width: 768px) {
        .desktop {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .desktop {
            display: grid;
            grid-auto-flow: column;
        }
    }
</style>
