---
const { color } = Astro.props;
---

<p
    style={{
        color: color ? color : "currentColor",
    }}
>
    <slot />
</p>
<style>
    p {
        margin: 0;
        overflow: hidden;
        /* display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; */
        font-size: clamp(1.1em, 2.5vw, 1.2em);
    }
</style>
