---
const { color, size, className } = Astro.props;
---

<p
    class={className}
    style={{
        color: color ? color : "currentColor",
        fontSize: size ? size : "",
        padding: ".45rem .95rem",
    }}
>
    <slot />
</p>


<style>
    p {
        margin: 0;
        overflow: hidden;
        font-size: calc(var(--font-size) + 2px);

        @media screen and (width>480px) {
            font-size: 1.8rem;
        }
        @media screen and (width>780px) {
            font-size: calc(var(--font-size) + 4px);
        }
    }
    p.card {
        font-size: calc(var(--font-size-card) + 2px);

        @media screen and (width>480px) {
            font-size: 1.8rem;
        }
        @media screen and (width>780px) {
            font-size: calc(var(--font-size-card) + 4px);
        }
    }
</style>
