---
const {color} = Astro.props
---
<p style={{
    color: color ? color : 'currentColor'
}}>
    <slot />
</p>
<style>
    p{
        margin: 0;
        font-size: clamp(12px, 2.5vw, 18px);
        overflow: hidden; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
</style>