---
import fotoUno from "../../assets/carrusel/solare.png";
import fotoDos from "../../assets/carrusel/099ba28f-089c-42ee-acae-62d8e8660362.png";
import fotoTres from "../../assets/carrusel/443e67f9-3aaa-4926-8d4b-3346504030e5.png";
import fotoCuatro from "../../assets/carrusel/dd344718-0029-4289-8940-9e1d2dbfff49.png";
import fotoCinco from "../../assets/carrusel/d72bc375-6ce9-46ae-a44e-f3d904dcf6ad.png";

import carruselCSS from "./css/carrusel.module.css";

const items = [
    {
        src: fotoUno.src,
        alt: "fotoUno",
    },
    {
        src: fotoDos.src,
        alt: "fotoDos",
    },
    {
        src: fotoTres.src,
        alt: "fotoTres",
    },
    {
        src: fotoCuatro.src,
        alt: "fotoCuatro",
    },
    {
        src: fotoCinco.src,
        alt: "fotoCinco",
    },
];
---

<div class="carrusel">
    <div class="view__carrusel">
        {
            items.map((image, index) => (
                <img class="img__carrusel" src={image.src} alt={image.alt} />
            ))
        }
    </div>
    <button class="btn menos">&lt;</button>
    <button class="btn mas">&gt;</button>
</div>

<script>
    const menos = document.querySelector(".menos") as HTMLButtonElement;
    const mas = document.querySelector(".mas") as HTMLButtonElement;
    let imageIndex = 0;
    const viewCarrusel = document.querySelector(
        ".view__carrusel",
    ) as HTMLLIElement;
    const listImages = [
        ...Array.from(document.querySelectorAll(".img__carrusel")),
    ] as [HTMLImageElement];
    const cantidadDeImagenes = listImages.length as number;

    function cambiarImagen(dir: number) {
        imageIndex =
            (imageIndex + dir + cantidadDeImagenes) % cantidadDeImagenes;
        const nuevoDes = -imageIndex;
        viewCarrusel.style.transform = `translateX(${nuevoDes}%)`;
    }

    menos.addEventListener("click", function (event) {
        cambiarImagen(-1);
    });
    mas.addEventListener("click", function (event) {
        cambiarImagen(1);
    });
</script>
<style>
    .carrusel {
        width: 100%;
        display: grid;
        position: relative;
        overflow: clip;
        z-index: 0;
    }
    .view__carrusel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .btn {
        padding: 0.25em 0.5em;
        border: 1px solid white;
        border-radius: 0.25em;
        background: rgba(0, 0, 0, 0.5);
    }
    .mas,
    .menos {
        position: absolute;
        margin: 0 1em;
        font-size: 2em;
        cursor: pointer;
        color: white;
    }
    .mas:hover,
    .menos:hover {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
        color: rgba(0, 0, 0, 0.5);
    }
    .mas {
        top: 50%;
        right: 0;
    }
    .menos {
        top: 50%;
        left: 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .img__carrusel {
        width: 100dvw;
        object-fit: cover;
        object-position: left;
        height: 256px;
    }
    @media screen and (min-width: 1024px) {
        .img__carrusel {
            width: 100%;
            object-fit: cover;
            height: auto;
        }
    }
</style>
