@import url(./normalize.css);

:root {
    --primary-color: #333;
    --secondary-color: #f5f5f5;

    --red-color: #D31313;
    --maroon-color: #a83738;
    --dark-color: #6e6d6b;
    --gray-color: #efefef;
    --gray-dark-color: #bebebe;
    --gray-light-color: #d9d9d9;
    --gold-color: rgb(253, 243, 187);
    --font: 'Courier New', Courier, monospace;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

html,
body {
    font-size: clamp(12px, 2.5vw, 18px);
    color: var(--primary-color);
    font-family: var(--font);
}

body {
    margin: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    background: var(--seconadry-color);
    overflow-x: clip;
}