---
import "../assets/css/style.css";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";

const title = Astro.props.title;
---


<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<!-- <script src="./navigate.js"></script> -->
	</body>
</html>
<style>
	.logos{
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
