.brands {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 5rem 0;
    gap: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 4rem;
    padding: 0 2rem;
}


@media screen and (width>1024px) {
    .container {
        gap: 4rem;
        padding: 4rem;
    }
}

.brand {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: .33rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.contentBrand {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.brand:hover {
    transform: scale(1.05);
    z-index: 100;
}

.imageBrand {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.description {
    color: rgb(59, 57, 57);
    font-size: medium;
}

.contentDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}